html * {
    cursor: url("/resources/cursor.cur"), pointer;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: url('https://media4.giphy.com/media/UqwhLDr8KvupybNFGA/giphy.gif?cid=6c09b9523d0z48dxwq0wy9lnjpjszy8x7fufnle1bjmvj49b&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g') no-repeat center center/cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

.gradient-custom {
    background: rgba(0, 0, 0, 0.8);
}

.card {
    background-color: #1c1c1c;
    border-radius: 1rem;
    border: 1px solid #444;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.text-highlight {
    color: #f9d71c;
}

.btn-outline-light {
    border-color: #f9d71c;
    color: #f9d71c;
}

.btn-outline-light:hover {
    background-color: #f9d71c;
    color: #1c1c1c;
}

.form-control {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #555;
}

.form-control:focus {
    border-color: #f9d71c;
    box-shadow: 0 0 5px #f9d71c;
}

.form-label {
    color: #f9d71c;
}

.text-muted {
    color: rgba(255, 255, 255, 0.5);
}